 @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap'); 
 body{
    background-color: rgb(237, 237, 234);
 }

 *{
    margin: 0;
    padding: 0;
 }

 nav{
     font-family: 'ubuntu' , sans-serif;
 } 

 nav ul{
   display: flex;
   align-items: center;
   list-style-type: none;
   height: 65px;
   background-color: black;
   color:aliceblue ;
 }
 nav ul li{
   padding:0 12px;
 }

 .brand img{
    width: 46px;
    padding:0 8px ;
 }

 .brand {
   display: flex;
   align-items: center;
   font-weight: bolder;
   font-size: 1.3rem;
 }

 .container{

   min-height :65vh; 
   background-color: black;
   color: white;
   font-family: "Varela Round", sans-serif;
   display: flex;
   margin: 23px auto;
   width: 70%;
   border-radius: 10px;
   padding: 23px;
   background-image: url(merc.jpg );
 }
 .container {
  background-image: url(merc.jpg);
  background-size: cover;          /* Makes image cover the area */
  background-position: center;     /* Centers the image */
  background-repeat: no-repeat;    /* Prevents image repeating */
}

 
 .bottom{
   position: sticky;
   height: 90px;
   background-color: rgb(7, 7, 7);
   color: rgb(9, 119, 215);
   bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }
 .icons{
 margin-top: 14px;

 }
 .icons i{
  cursor: pointer;
 }
 #myProgressBar{
   width:80vw ;
   text-align: center;
 }
 .songItem{
  height: 50px;
  display: flex;
  background-color: white;
  width: 260px;
  color: black;
  margin: 10px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 34px;
 }
 .songItem img{
  width: 36px;
  margin: 0 25px;
  border-radius: 34px;
    
 }
 .timestamp{
  margin:0 23px ;
 }
 .timestamp i{
  cursor: pointer;
 }

